body{
    height: 100%;
    width: 100%;
    background-color: pink;
    color: rgb(60, 60, 60);
    text-align: center;
}

p{
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#text{
    font-weight: 600;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin: 10px;
    padding: 5px;
    font-size: 1.2rem;
    background-color: rgb(255, 130, 130);
    border-radius: 5px;
    border: 2px solid black;
}

button:hover{
    transition: 0.3s ease-in;
    transform: scale(1.1);
}

img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    object-fit: contain;
    display: none;
}

img:hover{
    border: 4px solid black;
}

@media (max-width: 500px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    img{
        height: 300px;
        width: 300px;
    }

    p{
        font-size: 1.2rem;
    }

    button{
        font-size: 1.2rem;
    }
}

@media (max-width: 320px) {
    img{
        height: 250px;
        width: 250px;
    }

    p{
        font-size: 1.1rem;
    }

    button{
        font-size: 1.1rem;
    }
}